#drawable {
    border: 4px solid gray;
    position: relative;
    left: calc(50% - 500px);
    top: -700px;
    background-color:white;

}

.image-wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
    opacity: 1;
}

#test {
	position: absolute;
}

.range > span {
    width: 12px;
    display: inline-block;
}
#mycolor {
    width: 50px;
    height: 50px;
    left: 3rem;
    position: relative;
}

body{
    width: 100%;
    height: 100%;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

#yourBtn {
  position: relative;
  top: 150px;
  font-family: calibri;
  width: 150px;
  padding: 10px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
}

#mySidenav div {
    position: relative;
    left: 30px;
    transition: 0.3s;
    padding: 10px;
    width: 100px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    display: block;
  }
  #clear{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #redo{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #undo{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #select{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #upload{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #eraser{
    cursor: url('source/pointed.gif'), pointer;            
  }

  #pen{
    cursor: url('source/pointed.gif'), pointer;            
  }

  #text{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #circle{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #tri{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #rec{
    cursor: url('source/pointed.gif'), pointer;            
  }
  #fill{
    cursor: url('source/pointed.gif'), pointer;            
  }
  .selector{
    cursor: url('source/pointed.gif'), pointer;            
  }

  #mySidenav input {
    position: relative;
    left: 30px;
    transition: 0.3s;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    display: block;
    color: rgb(255, 255, 255);
  }

  #mySidenav a {
    position: relative;
    left: 30px;
    transition: 0.3s;
    padding: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 10px;
    color: rgb(255, 255, 255);
    border-radius: 0 5px 5px 0;
    display: block;
  }
  
  #mySidenav div:hover {
    left: 0;
  }

  #mySidenav a:hover {
    left: 0;
  }

 